<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>

</head>
<body>
<h1 class="title">Create Employee</h1>
<form th:action="@{/save-employee}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>